{% extends "DrakBlogBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}
{% block section %}
<p>
    {% for message in app.session.flashbag.get('info') %}
        <p class="alert alert-danger">
            Information : {{ message }}
        </p>
    {% endfor %}
</p>
    <h2>Listes des annonces</h2>
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('blog_view', {'id': advert.id}) }}">
                    {{ advert.id }} - {{ advert.title }}
                </a>

                par {{ advert.author }},
                le {{ advert.mdate|date('d/m/Y') }}
            </li>
            {% if advert.image %}<li>src = {{ advert.image.url }} alt = {{ advert.image.alt }}</li>
            <li><img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}"></li>{% endif %}
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>

    <ul class="pagination">
        <!-- on utilise la fonction range(a,b) qui cree un tableau de valeur entre a et b -->
        {% for p in range(1, nbPages) %}
            <li {% if p == page %} class="active" {% endif %}>
                <a href="{{ path('blog_home', {'page': p}) }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
